$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

// *,
// *:after,
// *:before {
// 	box-sizing: inherit;
// }

// html {
// 	box-sizing: border-box;
// 	font-size: 62.5%;
// }

// body {
//   color: $fg-color;
//   background-color: $bg-color;
// 	font-family: $text-font-family;
// 	font-size: 1.6em;
// 	font-weight: 300;
//   line-height: 1.8em;
//   @media only screen and (max-width : 768px) {
//     font-size: 1.6em;
//     line-height: 1.6em;
//   }
// }

// a {
//   font-weight: 300;
//   color: $link-color;
//   text-decoration: none;
//   &:focus,
//   &:hover {
//     text-decoration: underline;
//   }
// }

// p {
//   margin: 2.0rem 0 2.0rem 0;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: $heading-font-family;
//   font-weight: 700;
//   color: $alt-fg-color;
//   margin: 6.4rem 0 3.2rem 0;
// }

// h1 {
//   font-size: 3.2rem;
//   line-height: 3.6rem;
//   @media only screen and (max-width : 768px) {
//     font-size: 3.0rem;
//     line-height: 3.4rem;
//   }
// }
// h2 {
//   font-size: 2.8rem;
//   line-height: 3.2rem;
//   @media only screen and (max-width : 768px) {
//     font-size: 2.6rem;
//     line-height: 3.0rem;
//   }
// }
// h3 {
//   font-size: 2.4rem;
//   line-height: 2.8rem;
//   @media only screen and (max-width : 768px) {
//     font-size: 2.2rem;
//     line-height: 2.6rem;
//   }
// }
// h4 {
//   font-size: 2.2rem;
//   line-height: 2.6rem;
//   @media only screen and (max-width : 768px) {
//     font-size: 2.0rem;
//     line-height: 2.4rem;
//   }
// }
// h5 {
//   font-size: 2.0rem;
//   line-height: 2.4rem;
//   @media only screen and (max-width : 768px) {
//     font-size: 1.8rem;
//     line-height: 2.2rem;
//   }
// }
// h6 {
//   font-size: 1.8rem;
//   line-height: 2.2rem;
//   @media only screen and (max-width : 768px) {
//     font-size: 1.6rem;
//     line-height: 2.0rem;
//   }
// }












