$brand-purple: #724EEF;

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.row {
  width: 100%;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;

}

/* side navigation */
.sidenav {
  height: 100%; 
  width: 140px; 
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: $brand-purple; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
  display: flex;
  flex-direction: column;
  align-content: center;
}

.logo {
  width: 100px;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.sidenav ul {
  padding: 0;
  list-style: none;
  align-self: center;
}

/* side navigation list items */
.sidenav ul li {
  padding-top: 15px;
  font-weight: 500;
  letter-spacing: .0325em;
}

.sidenav ul li:nth-child(5) {
  font-weight: 300;
  padding-top: 40px;
}

.sidenav ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  transition: 0.3s;
}

.sidenav ul li a:hover {
  color: lavender;
}

/* Reorder the nav list items */
.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-li-product {
  order: -7;
}

.nav-li-docs {
  order: -6;
}

.nav-li-pricing {
  order: -5;
}

.nav-li-customers {
  order: -4;
}

.nav-li-about {
  order: -3;
}

.nav-li-blog {
  order: -2;
}

.nav-li-login {
  order: -1;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/*  close button */
.sidenav .closebtn {
  color: white;
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 30px;
  display: block;
}

 .arrow-right {
  position:fixed;
    top:0;
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid $brand-purple;
    opacity: 0.75;
    z-index:999;
 }
/* main content */
#main {
  transition: margin-left 0.5s;
  padding-top: 10px;
  margin-left: 140px;
  width: auto;
}

/* row 1 */
.row-1 {
  border: 1px solid red;
  min-height: 400px;
}

.cta-container {  
  margin-bottom: 25px;
 }

.copy-container {
  height:50%;
}

.cta-container .headline {
 line-height: 1em;
}

.cta-container .sub-headline {
  padding-top: 10px;
  font-size: 20px;
}

.btn-container {
  display:flex;
  flex-flow: column nowrap;
  height: 46%;
}

.cta-btn {
  display: flex;
  border: 3px solid $brand-purple;
  justify-content: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.07em;
  color: $brand-purple;
  margin-top: auto;
}

.cards-container {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}

.price-card {
  display:flex;
  flex-direction: column;
  flex: 0 0 33.333333%;
  border: 1px solid darkgray;
  padding: 20px;
  flex:1
}

.price-card .title {
  font-size: 10px;
    letter-spacing: 0.0535em;
   color: $brand-purple;
   font-weight: 700;
}


/* row 2 */

.details, 
.bullets, 
.desctiption,
.starting {
  font-size: 14px;
}

.description, 
.price-caption, 
.starting,
.title {
  margin-bottom: 15px;
}
.starting {
  margin-bottom: 10px;
}

.price-caption {
  font-size: 11px;
}

.dollars {
  font-size: 35px;
    font-weight: 700;
}

/* row 2 */
.row-2 {
  border: 1px solid red;
  min-height: 200px;
}

.adroll-content {
  margin-top: 5%;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adroll-content p:nth-child(2){
  font-size:10px;
  letter-spacing: 0.05em;
  line-height: 1.7em;
}

.adroll-content div:nth-child(3)  {
  margin-top: -20px;
  font-size: 11px;
  margin-bottom: 10px;
}

.adroll-content div:nth-child(5)  {
font-size: 12px;
letter-spacing: 0.05em;
color: $brand-purple;
font-weight: 200;
}
/* adroll grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-item {
  position: relative;
  width: 100%;
  
  &:nth-child(1) {
    grid-column: 2 / 4;
    grid-row: 1 / 9;
    background-color: #F5F5F5; 
    &::before {
      padding-top: 50%;
    }
  }

  &:nth-child(2) {
    grid-column: 1 / 2; 
    background-color: #FF5A5F;
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }

  &:nth-child(3) {
    grid-column: 1 / 2; 
    background-color: #000000;
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }

  &:nth-child(4) {
    grid-column: 1 / 2; 
    background-color: #292929;
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }

  &:nth-child(5) {
    grid-column: 1 / 2; 
    background-color: #1428A0;
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }

  &:nth-child(6) {
    grid-column: 1 / 2; 
    background-color: #00AA4E;
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }

  &:nth-child(7) {
    grid-column: 1 / 2; 
    background-color: #5DBD5F;
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }

  &:nth-child(8) {
    grid-column: 1 / 2; 
    grid-row: 7;
    background-color: #000000;
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }

  &:nth-child(9) {
    grid-column: 1 / 2; 
    grid-row: 8;
    background-color: #00A8E0;
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }
  
  &:before {
    content: "";
    height: 0;
    display: inline-block;
    padding-top: 100%;
    width: 1px;
    position: relative;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    justify-items: start;
  }
}

/* row 3 */
.row-3 {
  border: 1px solid red;
  min-height: 200px;
}



.adroll-content > img {
  width: 80%;
  margin-bottom: 5px;
}


.content > img:not(:first-child) {
  width: 80%;
}


@media only screen and (min-width: 576px) and (max-width: 768px) {
 .row-3 {
   flex-direction: column;
 }

 .col-sm-6 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

  .adroll-content p:nth-child(2) {
    font-size: 10px;
    letter-spacing: .05em;
    line-height: 1.7em;
}

  .grid-item:nth-child(1) {
    grid-column: 2 / 4;
    grid-row: 1 / 9;
    background-color: #F5F5F5; 
  }
  
  .grid-item:nth-child(8) {
    grid-column: 1 / 2; 
    grid-row: 7;
    background-color: #000000;
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }

 .grid-item:nth-child(9) {
    grid-column: 1 / 2; 
    grid-row: 8;
    background-color: #00A8E0;
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }

}

/* media queries */
@media only screen and (min-device-width: 768px) {
  // .adroll-content > img {
  //   width:40%;
  //   margin-bottom: 25px;
  // }

  // .sidenav .closebtn {
  //   display: none;
  // }

  // .sidenav {
  //   padding-top: 30px; 
  // }

  // #main {
  //   padding-top: 30px;
  // }

  // .cta-container {
  //   margin-bottom: 0px;
  //  }


  
}

@media only screen and (min-device-width: 992px) {
  #main {
    width: calc(100% - 140px);
  }

  .cards-container {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
}

@media only screen and (min-device-width: 1200px) {


.grid-item {
  position: relative;
  width: 100%;
  &:nth-child(1) {
    grid-column: 2 / 4;
    grid-row: 1 / span 2;
    background-color: #F5F5F5; 
    
  }

  &:nth-child(5) {
    grid-column: 2 / 3; 
    background-color: #1428A0;
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }

  &:nth-child(6) {
    grid-column: 3 / 4; 
    background-color: #00AA4E;
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }

  &:nth-child(8) {
    grid-column: 2 / 3; 
    grid-row: 4;
    background-color: #000000;
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }

  &:nth-child(9) {
    grid-column: 3 / 4; 
    grid-row: 4;
    background-color: #00A8E0;
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }
}
}

