body {
  font-family: 'Noto Sans JP', sans-serif;
}

.row {
  width: 100%;
  margin-bottom: 20px;
}
/* side navigation */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 140px; 
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: #632ca6; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
  display: flex;
  flex-direction: column;
  align-content: center;
}

.logo {
  width: 100px;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.sidenav ul {
  padding: 0;
  list-style: none;
  align-self: center;
}

/* side navigation list items */
.sidenav ul li {
  padding-top: 15px;
  font-weight: 500;
  letter-spacing: .0325em;
}

.sidenav ul li:nth-child(5) {
  font-weight: 300;
  padding-top: 40px;
}

.sidenav ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  transition: 0.3s;
}

.sidenav ul li a:hover {
  color: lavender;
}

/* Reorder the nav list items */
.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-li-product {
  order: -7;
}

.nav-li-docs {
  order: -6;
}

.nav-li-pricing {
  order: -5;
}

.nav-li-customers {
  order: -4;
}

.nav-li-about {
  order: -3;
}

.nav-li-blog {
  order: -2;
}

.nav-li-login {
  order: -1;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/*  close button */
.sidenav .closebtn {
  color: white;
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  display: block;
}

/* main content */
#main {
  transition: margin-left 0.5s;
  padding-left: 75px;
  margin-left: 115px;
  width: calc(100% - 90px)
}

.row-1 {
  border: 1px solid red;
  min-height: 400px;
}

.row-2 {
  border: 1px solid red;
  min-height: 200px;
}

.row-3 {
  border: 1px solid red;
  min-height: 200px;
}

.row-4 {
  border: 1px solid red;
  min-height: 200px;
}

/* media queries */
@media only screen and (min-device-width: 568px) {
  .sidenav .closebtn {
    display: none;
  }

  .sidenav {
    padding-top: 30px; 
  }
}
