<div class="row row-1">
    <div class="col-md-4 cta__wrapper">
      <div class="copy__wrapper">
        <h1 class="headline">Modern monitoring & analytics</h1>
        <p class="sub-headline">See inside any stack, any app, at any scale, anywhere.</p>
      </div>
      <div class="btn__wrapper">
        <a href="#"> 
            <div class="cta__btn">
                TRY FREE
              </div>
        </a>
      </div>
    </div>
    <div class="col-md-8 cards-wrapper">
      <ul class="cards">
        <li class="cards__item">
          <div class="price__card card__border">
            <div class="title purple">INFRASTRUCTRE</div>
            <div class="price">
              <div class="starting">Starting at</div>
              <div class="dollars">$15</div>
              <div class="price__caption">Per host, per month*</div>
            </div>
            <div class="description">Centralize your monitoring
              of systems and services</div>
            <div class="bullets">
              <ul>
                <li>250+ integrations</li>
                <li>Out-of-the-box dashboards</li>
                <li>15-month metric retention</li>
              </ul>
            </div>
            <a href="#">
              <div class="details purple__border">See Details</div>
            </a>
          </div>
        </li>
        <li class="cards__item">
          <div class="price__card card__border">
            <div class="title green">APM</div>
            <div class="price">
              <div class="starting">Starting at</div>
              <div class="dollars">$31</div>
              <div class="price__caption">Per host, per month*</div>
            </div>
            <div class="description">Centralize your monitoring of systems and services</div>
            <div class="bullets">
              <ul>
                <li>Java, Ruby, Python, Go, Node, and more
                </li>
                <li>Out-of-the-box application health dashboards
                </li>
                <li>1 million trace events per host included</li>
              </ul>
            </div>
              <div class="details green__border">See Details</div>
          </div>
        </li>
        <li class="cards__item">
          <div class="price__card">
            <div class="title red">LOGS MANAGEMENT</div>
            <div class="price">
              <div class="starting">Starting at</div>
              <div class="dollars">$1.27</div>
              <div class="price__caption">Per host, per month*</div>
            </div>
            <div class="description">Analyze and explore log data in context</div>
            <div class="bullets">
              <ul>
                <li>Collect from any source</li>
                <li>Automated & custom processing</li>
                <li>Fully integrated with Infrastructure and APM</li>
              </ul>
            </div>
            <a href="#">
              <div class="details red__border">See Details</div>
            </a>
          </div>
    </div>
    </li>
    </ul>
  </div>