<!DOCTYPE html>
<html lang="en">
{{ partial "head" . }}

<body>
    {{ partial "sidenav" . }}
    <!-- div will need to be sticky -->
    <div class="arrow-right" onclick="expandNav()"></div>

    <div id="main" class="container-fluid">
        <div class="row content">
            <div class="row row-1">
                <div class="col-md-5 cta-container">
                    <div class="copy-container">
                        <h1 class="headline">Modern monitoring & analytics</h1>
                        <p class="sub-headline">See inside any stack, any app, at any scale, anywhere.</p>
                    </div>
                    <div class="btn-container" >
                        <div class="cta-btn">
                            TRY FREE
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-7 cards-container">
                    <!-- <div class="price-card">
                        <div class="title">INFRASTRUCTRE</div>
                        <div class="price">
                             
                            
                    </div> -->
                    <div class="price-card">
                        <div class="title">INFRASTRUCTRE</div>
                        <div class="price">
                            <div class="dollars">Starting at</div>
                            <div class="dollars">$15</div> 
                            <div class="price-caption">Per host, per month*</div>
                            </div>
                        <div class="description">Centralize your monitoring
                            of systems and services</div>
                        <div class="bullets">
                            <ul>
                                <li>250+ integrations</li>
                                <li>Out-of-the-box dashboards</li>
                                <li>15-month metric retention</li>
                            </ul>
                        </div>
                        <div class="details">See details</div>
                        </div>
                      
                   
                    <div class="price-card">
                        <div class="title">INFRASTRUCTRE</div>
                        <div class="price">
                            <div class="dollars">Starting at</div>
                            <div class="dollars">$15</div> 
                            <div class="price-caption">Per host, per month*</div>
                            </div>
                        <div class="description">Centralize your monitoring
                            of systems and services</div>
                        <div class="bullets">
                            <ul>
                                <li>250+ integrations</li>
                                <li>Out-of-the-box dashboards</li>
                                <li>15-month metric retention</li>
                            </ul>
                        </div>
                        <div class="details">See details</div>
                        </div>
                      
                  
                    <div class="price-card">
                        <div class="title">INFRASTRUCTRE</div>
                        <div class="price">
                            <div class="dollars">Starting at</div>
                            <div class="dollars">$15</div> 
                            <div class="price-caption">Per host, per month*</div>
                            </div>
                        <div class="description">Centralize your monitoring
                            of systems and services</div>
                        <div class="bullets">
                            <ul>
                                <li>250+ integrations</li>
                                <li>Out-of-the-box dashboards</li>
                                <li>15-month metric retention</li>
                            </ul>
                        </div>
                        <div class="details">See details</div>
                        </div>
                      
                    </div>
                </div>
            </div>
            
            <div class="row row-2">
                <div class="col-sm-6">
                    <div class="apm">
                        <img src="img/apm.svg" class="img-fluid" alt="Responsive image">
                        <!-- <h4>APM</h4>
                        <p>Get full visibility into modern applications</p> -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="infrastructure">
                        <img src="img/infrastructure.svg" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </div>
            <div class="row row-3">
                <div class="col-sm-6">
                    <div class="loss-management">
                        <img src="img/loss.svg" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="observability">
                        <h4>Observability</h4>
                        <p>With turn-key integrations, Datadog seamlessly aggregates metrics and events across the full devops stack</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="adroll-image-contain">
              
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function expandNav() {
            document.getElementById("sidenav-js").style.width = "140px";
            document.getElementById("main").style.marginLeft = "100px";
        }

        function closeNav() {
            const main = document.getElementById("main");
            document.getElementById("sidenav-js").style.width = "0";
            main.style.marginLeft = "0";
            main.style.width = "width: calc(100% - 90px);";
        }
        </script>
    <!-- <script src="scripts.js"></script> -->
</body>

</html>

